<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	<insert id="write" parameterType ="shop.noldaga.board.vo.BoardVo">
		INSERT INTO BOARD(BOARDIDX, TITLE, CONT, EMAIL) 
		VALUES (BOARD_SEQ.NEXTVAL, #{title}, #{cont}, #{email})
	</insert>
	<select id="list" resultType="shop.noldaga.board.vo.BoardVo">
		<![CDATA[
		SELECT * FROM (
			SELECT ROWNUM RN, BOARDIDX as idx, TITLE, CONT, CATEGORY,   
			CASE     
              WHEN SYSDATE-REGDATE < 1 THEN TO_CHAR(REGDATE,'HH24:MI:SS')          
              ELSE TO_CHAR(REGDATE, 'YY/MM/DD')          
          	END REGDATE, EMAIL, SCORE, PSIDX   
			FROM BOARD   
			WHERE CATEGORY = #{category}   
			AND ROWNUM <= #{to}
			)
		WHERE RN >= #{from}
		]]>
	</select>
	<select id="get" resultType="shop.noldaga.board.vo.BoardVo">
		SELECT ROWNUM RN, BOARDIDX as idx, TITLE, CONT, CATEGORY, REGDATE, EMAIL, SCORE, PSIDX FROM BOARD WHERE BOARDIDX = #{boardidx}
	</select>
	<delete id="delete">
		DELETE BOARD WHERE BOARDIDX = #{boardidx}
	</delete>
	<update id="modify" parameterType="shop.noldaga.board.vo.BoardVo">
		UPDATE BOARD SET TITLE = #{title}, cont = #{cont} WHERE BOARDIDX = #{idx}
	</update>
</mapper>